{% extends "base.html" %}
{% block content %}
    <div>
        <h2>About app</h2>
        Cover.fm is a small GAE-application, that grabs your favourite albums arts from 
        <a href="http://www.last.fm">last.fm</a> and combines them all in one image. 
        <br/>
        This application is not ready for public use right now, but I hope it'll be finished one day =)
        <h2>About me</h2>
        My name is Kirill Lashuk. My nickname is KL-7. I'm a young student from Belarussian State
        University. 
        <h2>Contacts</h2>
        You can contact me by e-mail (kl-7 at list.ru) or via my last.fm <a href="http://www.last.fm/user/KL-7">profile</a>.
    </div>
{% endblock %}
