{% extends "base.html" %}
{% block content %}
    <div>
        <h1>FAQ</h1>
        <div style="font-size:0.8em">
        In fact I'm the only user of this site now and nobody has ever
        asked any questions about it.
        But I really like FAQ abbreviation. So, let's imagine these
        questions are really frequently asked =)
        </div>
        
        <h2>Q: What is cover.fm?</h2>
        <div>A:
        Cover.fm is a small GAE-application, that grabs your favourite albums arts from 
        <a href="http://www.last.fm">last.fm</a> and combines them all in one image. 
        </div>

        <h2>Q: How does it looks like?</h2>
        <div>A:
        Generated TopArt looks like that (click to enlarge):
        <br/>
        <a href="/images/example.jpg" rel="lightbox" title="TopArt example">
        <img class="topart" src="/images/example.jpg" 
            alt="My overall top albums" style="width:400px"/>
        </a>
        </div>

        <h2>Q: Should I manually update my TopArt?</h2>
        <div>A:
        No. This service updates all TopArts periodically.
        Now update occures every tree hours, but in production version
        TopArts will be updated once per day.
        </div>

        <h2>Q: Why can't I use it right now?</h2>
        <div>A:
        This application is not ready for public use right now (it's very unstable,
        has lots of bugs, etc.),
        but I hope it'll be ready one day =)
        If you really want to get your own TopArt I'll be happy to register it for you and 
        get any reports and suggestions from you in return. Just send me a mail
        (kl7.666 at gmail.com) or left a shout in my last.fm
        <a href="http://www.last.fm/user/KL-7">profile</a>.
        </div>

        <h2>Q: What about the author?</h2>
        <div>A:
        I'm the only developer of cover.fm now. My nickname is KL-7 and I'm the student
        of Belarusian State University. And I can never think of anything suitable to say when
        it comes time to tell something about myself =)
        </div>
    </div>
{% endblock %}
