{% extends "base.html" %}
{% block content %}
    {% if error %}
        <p>{{ error }}<p>
    {% else %}
        <div style="border: 2px solid #CACACA; overflow:auto; width: 80%">
            <code>
                [quote][align=center][size=10][b]{{ nick }}'s Top Albums[/b][/size][/align][/quote]
                [url={{ host }}][img]{{ host }}/{{ topart.nick }}/{{ topart.period }}/{{ topart.width }}x{{ topart.height }}.jpg[/img][/url]
            </code>
        </div>
        <div>
            <img src="{{ topart.nick }}/{{ topart.period }}/{{ topart.width }}x{{ topart.height }}.jpg"/>
        </div>
    {% endif %}
{% endblock %}