{% extends "base.html" %}
{% block content %}
<div id="genform" class="stylized">
<form action="/" enctype="multipart/form-data" method="post">
    <label for="nick">Username
    <span class="small">Enter your last.fm username</span>
    </label>
    <input id="nick" name="nick" type="text">

    <label for="autoupd">Auto-update
    <span class="small">Turn on to auto-update your TopArt</span>
    </label>
    <select id="autoupd" name="autoupd">
        <option value="on">On</option>
        <option value="off" selected="selected">Off</option>
    </select>

    <label for="period">Type
    <span class="small">Enter TopArt period</span>
    </label>
    <select id="period" name="period">
        <option value="overall">Overall</option>
        <option value="12month">12 Months</option>
        <option value="6month">6 Months</option>
        <option value="3month">3 Months</option>
        <option value="7day" selected="selected">Weekly</option>
    </select>

    <label for="width">Width
    <span class="small">Enter TopArt width</span>
    </label>
    <select id="width" name="width">
        <option value="2">2</option>
        <option value="3" selected="selected">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
    </select>

    <label for="height">Height
    <span class="small">Enter TopArt height</span>
    </label>
    <select id="height" name="height">
        <option value="1">1 (for last.fm-forums)</option>
        <option value="2">2</option>
        <option value="3" selected="selected">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
    </select>

    <button name="generate" value="Generate!" type="submit">Generate!</button>
    <div class="spacer"></div>
</form>
</div>
{% endblock %}